.footer {
  padding: 20px 0;
  background-color: #333;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  span {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
}
