.header {
  height: 100px;
  background-color: rgb(42, 42, 255);
  margin-bottom: 20px;
  .button {
    color: white;
    height: 100px;
    width: 150px;
    &:hover {
      background-color: rgb(4, 0, 255);
    }
  }
}
