.patient-box {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  .patient-list {
    background-color: rgb(184, 215, 255);
    overflow-y: scroll;
    height: 500px;
    width: 300px;
    .patient-sticky {
      background-color: rgb(42, 42, 255);
      color: white;
      &-icon {
        color: white;
      }
      &-find {
        width: 70%;
        background-color: white;
        padding-left: 15px;
      }
    }
  }
  .patient-focus {
    display: flex;
    flex-direction: column;
    .patient-basic {
      margin-top: 20px;
      width: 900px;
      display: flex;
      flex-direction: row;
      .patient-avatar {
        width: 200px;
        height: 200px;
      }
      div {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        span {
          margin-top: 30px;
          font-size: 40px;
          font-weight: bold;
          align-self: flex-start;
          &:nth-child(2) {
            font-size: 25px;
          }
        }
      }
    }
    .patient-info {
      margin: 30px;
      display: flex;
      flex-direction: row;
      text-align: left;
      font-size: 18px;
      .info-attributes {
        width: 150px;
      }
      .info-values {
        margin-left: 70px;
      }
      .divider {
        width: 3px;
        background-color: rgb(92, 92, 92);
      }
      .info-button {
        margin-left: 100px;
        height: 50px;
      }
    }
  }
}
