$inactive-color: rgb(216, 216, 216);
@mixin hover-div {
  &:hover {
    filter: brightness(80%);
  }
}
@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin tooth-part($position) {
  position: $position;
  width: 150px;
  height: 150px;
}
.combine-tooth {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div div {
    @include hover-div();
    background-color: $inactive-color;
  }
  .tooth-chart {
    width: 45px;
    height: 45px;
    display: flex;
    flex-flow: row wrap;
    transform: rotate(45deg);
    position: relative;
    top: 20px;
    z-index: 2;
    div {
      @include hover-div();
      height: 20px;
      width: 20px;
      background-color: $inactive-color;
      &:nth-child(1) {
        border-radius: 85% 0 0 0;
      }
      &:nth-child(2) {
        border-radius: 0 85% 0 0;
      }
      &:nth-child(3) {
        border-radius: 0 0 0 85%;
      }
      &:nth-child(4) {
        border-radius: 0 0 85% 0;
      }
      &:nth-child(5) {
        border-radius: 10px;
        position: relative;
        bottom: 30px;
        left: 10px;
      }
    }
  }
  .molar {
    height: 150px;
    width: 50px;
    position: relative;
    &-down {
      @include tooth-part(absolute);
      left: -98px;
      clip-path: polygon(
        82% 44%,
        93% 44%,
        93% 46%,
        93% 47%,
        94% 49%,
        94% 49%,
        95% 53%,
        95% 52%,
        95% 53%,
        94.5% 56%,
        94% 58%,
        93% 62%,
        92% 65%,
        90% 69%,
        89% 71%,
        88% 73%,
        87% 74%,
        87% 71%,
        87% 68%,
        87% 65%,
        87% 62%,
        87% 58%,
        86% 55%,
        85% 53%,
        84% 52%,
        82% 51%
      );
    }
    &-down-left {
      transform: rotateY(180deg);
      left: -2px;
    }

    &-up {
      @include tooth-part(relative);
      left: -98px;
      clip-path: polygon(
        93% 44%,
        95% 41%,
        96.5% 37%,
        96% 30%,
        94.5% 28%,
        91% 27%,
        88% 27%,
        84% 29%,
        81% 29%,
        80% 29%,
        75% 27%,
        71% 27%,
        69% 29%,
        68% 31%,
        68% 37%,
        69% 39.5%,
        70% 42%,
        71% 44%
      );
    }
  }
  .incisor {
    height: 150px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    &-up {
      @include tooth-part(absolute);
      left: -6px;
      top: 0;
      clip-path: polygon(
        9% 44%,
        19% 44%,
        19% 42%,
        19% 43%,
        20% 39%,
        21% 35%,
        21% 31%,
        21% 28%,
        21% 27%,
        21% 26%,
        20% 25%,
        17% 25%,
        13% 25%,
        10% 25%,
        8% 25%,
        7% 26%,
        7% 27%,
        7% 32%,
        8% 39%,
        8% 36%,
        8% 38%,
        8% 39%,
        9% 43%
      );
    }

    &-down {
      @include tooth-part(relative);
      left: -6px;
      clip-path: polygon(
        9% 44%,
        19% 44%,
        18% 52%,
        17.5% 58%,
        16% 65%,
        15% 70%,
        14% 74%,
        13% 75%,
        13% 75%,
        12% 75%,
        11% 73%,
        10.5% 71%,
        10% 66%,
        9.5% 60%,
        9% 49%
      );
    }
  }
  .premolar {
    width: 35px;
    height: 150px;
    position: relative;
    &-down {
      @include tooth-part(relative);
      left: -65px;
      clip-path: polygon(
        49% 44%,
        61% 44%,
        60% 53%,
        59% 59%,
        58% 65%,
        57% 69%,
        57% 69%,
        56% 72%,
        55% 72%,
        54% 71%,
        53% 69%,
        51% 59%
      );
    }
    &-up {
      @include tooth-part(absolute);
      left: -65px;
      clip-path: polygon(
        49% 44%,
        61% 44%,
        62% 38%,
        63% 32%,
        62% 29%,
        60% 27%,
        58% 26%,
        55% 25%,
        52% 26%,
        50% 27%,
        48% 29%,
        47% 31%,
        47% 33%
      );
    }
  }
  .canine {
    height: 150px;
    width: 35px;
    position: relative;
    &-down {
      @include tooth-part(relative);
      left: -34px;
      clip-path: polygon(
        40% 45%,
        28% 45%,
        29% 50%,
        30% 57%,
        31% 64%,
        32% 69%,
        33% 73%,
        34% 76%,
        35% 73%,
        37% 66%,
        38% 59%,
        39% 51%
      );
    }
    &-up {
      @include tooth-part(absolute);
      left: -34px;
      clip-path: polygon(
        40% 45%,
        28% 45%,
        25% 29%,
        27% 27%,
        29% 24%,
        32% 21%,
        36% 22%,
        39% 24%,
        41% 26%,
        42% 30%,
        41% 39%
      );
    }
  }
}
