.legend-color {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: rgb(216, 216, 216);
}

.treatment-box {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .planned-list {
    width: 900px;
    background-color: rgb(230, 230, 230);
    .planned-title {
      background-color: rgb(196, 194, 194);
      padding: 0 16px;
      font-weight: bold;
      overflow: hidden;
      p {
        width: 185px;
        height: 60px;
        line-height: 60px;
        margin: 0;
        float: left;
      }
      p:nth-child(1) {
        width: 145px;
      }
      p:nth-child(4) {
        width: 265px;
      }
      .add-treatment {
        color: black;
      }
    }
    .list-item {
      .tooth-number {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        height: 45px;
      }
      .MuiListItemText {
        &-root {
          text-align: center;
          width: 150px;
        }
        &-root:nth-child(4) {
          width: 180px;
          padding-left: 50px;
          padding-right: 30px;
        }
        &-multiline {
          width: 100px;
        }
      }
      .MuiButtonBase-root {
        color: black;
      }
    }
  }

  .header-procedure {
    background-color: #e0e0e0;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    padding-left: 100px;
    .procedure-select {
      text-align: left;
      width: 130px;
      margin-left: 150px;
    }
  }
  .spinner-container {
    display: flex;
    background-color: #f8f7f7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 900px;
    .full-jaw {
      .upper-jaw {
        @include flexbox(row);
        transform: scaleY(-1);
      }
      .lower-jaw {
        @include flexbox(row);
      }
    }
  }
}
