@import './styles/teeth.style.scss';
@import './styles/treatment.style.scss';
@import './styles/footer.style.scss';
@import './styles/patient.style.scss';
@import './styles//header.style.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
  min-height: 100vh;
  max-width: 1920px;
  position: relative;
  margin: auto;
  padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
